



* {
    margin: 0px;
    padding: 0px;
  }
  
  /* begin styles */
  
  body {
    background-color: rgb(236, 192, 238);
    font-family: 'Squada One', cursive;
     font-size: 20px;
  }

  .listitems {
    padding: 10px;
  }
