* {
    margin: 0px;
    padding: 0px;
  }
  
  /* begin styles */
  
  body {
    margin-left: 20px;
    background-image:linear-gradient(rgb(238, 170, 238), rgb(255, 255, 142));
    font-family: font-family: 'Space Mono', monospace;
    font-size: 20px;
      }
      
      .highlight{background-color: rgb(226, 117, 177)
    }

  #toc {
        position: fixed 
        top: 1em;
        left: 1em;
        
     padding: 1em;

     background-color: yellow   
    }
  }