body{
	margin:0;
 }
 
 * {
	box-sizing: border-box;
 }
 
 body {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: #f2efed;
 }
 
 #background {
	width: 500px;
	height: 270px;
	background: white;
	border-top: 90px solid #ff8000;
	border-bottom: 90px solid #008000;
	position: relative;
 }
 
 #circle {
	width: 0px;
	height: 0px;
	border-radius: 60px;
	border: 46px solid #0000ff;
 
 top: 0.2px;
		left: 200px;
	position: relative;
 
 }