body {
    background-color: rgb(63, 62, 62);
}


.grid-item {
    background-color: rgb(63, 62, 62);
    border: 1px solid rgb(63, 62, 62);
}


#item-1 {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.overlay {
    z-index: 0;
    position: absolute;
    width: 100vw;
    display: none;
    left: 0px;
    top: 0px;
    mix-blend-mode: overlay;
}

.name {
    z-index: 1;
    margin: 50px auto;
    text-align: center;
}

#item-4 {
    font-size: 50pt;
    color: antiquewhite;
    font-family: 'Monoton', cursive;
}

.bodytext {

    z-index: 1;
    margin: 5px auto;
    text-align: center justify;
    font-family: 'Monoton', cursive;
    color: azure
}

#rightbutton {
    opacity: 0;
}