body {
    background-color: pink
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto 800px auto auto;
    grid-template-rows: 200px 500px 200px;
    grid-gap: 20px;

}

.grid-item {
    background-color: lightblue;
    border: 1px solid black;
}


#item-1 {
    background: lightblue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}