body {
    background-color: rgb(128, 128, 128);
}


.grid-item {

    font-size: 16pt;
    text-align: justify;
    font-family: 'Fredoka One', cursive;
    color: rgb(177, 20, 130);
}


#item-1 {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.overlay {
    z-index: 0;
    position: absolute;
    width: 100vw;
    display: none;
    left: 0px;
    top: 0px;
    mix-blend-mode: overlay;
}

.name {
    z-index: 1;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    width: 80%;
    color: rgb(177, 20, 130);
}

#item-4 {
    font-size: 50pt;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}



.rect {
    border-radius: 25px;
    background: rgb(177, 20, 130);
    padding: 20px;
    width: 55px;
    height: 55px;
    position: relative;
    top: 565px;
    left: 0px;
    margin: 0 auto;
}

#triangle-right {
    width: 0;
    height: 0;
    border-top: 90px solid transparent;
    border-left: 185px solid antiquewhite;
    border-bottom: 90px solid transparent;
    position: relative;
    top: 429px;
    left: 4px;
    margin: 0 auto;
    transform: scale(0.2);

}

#rectbutton a p {
    position: relative;
    top: 385px;
    left: 34px;
}


.name:hover {
    color: rgb(231, 255, 16);
}

.name:hover>.overlay {
    display: block;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto 800px auto auto;
    grid-template-rows: 200px 500px 200px;
    grid-gap: 20px;

}